.App {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.Menu,
.Quiz,
.EndScreen {
  width: 500px;
  height: 500px;
  border-radius: 10px;
  background-color: lightskyblue;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.Menu button,
.Quiz button,
.EndScreen button {
  width: 300px;
  height: 50px;
  margin: 5px;
  border: none;
  border-radius: 10px;
  font-size: 20px;
}

.Menu button:hover,
.Quiz button:hover,
.EndScreen button:hover {
  width: 300px;
  height: 50px;
  margin: 5px;
  border: none;
  border-radius: 10px;
  font-size: 20px;
  background-color: white;
}

.options {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
